//Table Pagination
.table-pagination
  .container-fluid
    .row.align-items-center.justify-content-center.g-lg-5.g-md-4.g-0
      .col-md-auto.col-6
        .d-flex.align-items-center.justify-content-center
          span.text-nowrap.me-2
            |Items 
            span.d-none.d-md-inline per page
            |:
          .form-group.mb-0
            +labelSr('pagination-select-items')
            //- mixin autocompleteBase(placeholder, id, classes, required, disabled, value, type)
            +autocompleteBase('', 'pagination-select-items', 'autocomplete--dropup', '', '', '10000', 'tel')
      
      //Hidden Mobile
      .col-auto.d-none.d-md-block
        span.text-nowrap 1 - 25 of 2892  items

      .col-md-auto.col-6
        .d-flex.align-items-center.justify-content-center
          span.text-nowrap.me-2.d-md-none Page:
          .form-group.mb-0
            +labelSr('pagination-select-pages')
            //- mixin autocompleteBase(placeholder, id, classes, required, disabled, value, type)
            +autocompleteBase('', 'pagination-select-pages', 'autocomplete--dropup', '', '', '10000', 'tel')
          span.text-nowrap.ms-2.d-none.d-md-block of 17 pages

      .col-auto
        .d-flex.align-items-center
          .table-pagination__btn-prev.btn.btn-sm.btn-link
            +iconChevronLeft
          .table-pagination__btn-next.btn.btn-sm.btn-link
            +iconChevronRight
