extends ../../templates/_template-page-nav-table.pug

block pageHeaderTitle
	| Payments

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-6.pug

block pageNav
	include ../../components/_page-nav.pug

block tableButtons
	include ../../components/table/_table-header-buttons-4-refresh.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Name')
					+thSortable('Invoice')
					+thSortable('Invoice Item')
					+thSortable('Payment Type')
					+thSortable('Payment Method')
					+thSortable('Amount')
			tbody
				tr
					td Payment - 000823 - Application Fee
					td: a(href="#0") 003023
					td: a(href="#0") 000823 - Application Fee
					td Received from Member
					td Credit Card
					td $100.00
