//Scripts

//Bootstrap
script(src="../../js/bootstrap/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous")
script(src="../../js/bootstrap/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous")

//Plugins
script(src='../../js/datetimepicker/flatpickr.js')

//Plugins Init
script(src='../../js/main.js')
