extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Case Statuses

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Name')
					+thSortable('Created By')
					+thSortable('Modified By')
					+thSortable('Tag Colour')
					+thSortable('Created On')
			tbody
				tr
					td Under Investigation
					td: a(href="#0") Martin Mamonluk
					td: a(href="#0") Martin Mamonluk
					td: span.badge.rounded-pill.text-bg-warning Yellow
					td Mar-14-2022 6:41 PM
				tr
					td Submitted
					td: a(href="#0") Blair Brenot
					td: a(href="#0") Blair Brenot
					td: span.badge.rounded-pill.text-bg-success Teal
					td Feb-23-2022 9:59 AM
