extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Code Dependencies

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Workflow Name')
					+thSortable('Workflow Class')
					+thSortable('Interval (minutes)')
					+thSortable('Next Run Date/Time')
					+thSortable('Last Run Date/Time')
					+thSortable('Workflow Parameters')
					+thSortable('Created on')
