extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Data Imports

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Name')
					+thSortable('Entity Name')
					+thSortable('Started')
					+thSortable('Total Records')
					+thSortable('Status')
					+thSortable('Successes')
					+thSortable('Failures')
					+thSortable('Created on')
					+thSortable('Created on')
