extends ../../templates/_template-page-nav-table.pug

block pageHeaderTitle
	| Employment

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-4.pug

block pageNav
	include ../../components/_page-nav.pug

block tableButtons
	include ../../components/table/_table-header-buttons-4-refresh.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Profile')
					+thSortable('Employer')
					+thSortable('Other Employer Name')
					+thSortable('Position')
					+thSortable('Start Date')
					+thSortable('End Date')
			tbody
				tr
					td: a(href="#0") Adam Smith
					td: a(href="#0") Business Name
					td N/A
					td Text
					td May-01-2011
					td May-01-2011
