extends ../../templates/_template-page-nav-table.pug

block pageHeaderTitle
	| Registrations Landing Page

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-4.pug

block pageNav
	include ../../components/_page-nav.pug

block tableButtons
	include ../../components/table/_table-header-buttons-4-refresh.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Registrant')
					+thSortable('Registration Number')
					+thSortable('Registration Class')
					+thSortable('Registration Status')
					+thSortable('Initial Registration Date')
					+thSortable('Current Effective Date')
					+thSortable('Current Expiration Date')
			tbody
				tr
					td: a(href="#0") Adam - Smith
					td A32423
					td Registration Class A
					td: span.badge.text-bg-success Active
					td Jul-20-2009
					td Nov-01-2021
					td Nov-01-2022
