//Page Nav
.global-nav.global-nav--page

	//Page Nav Menu
	ul.global-nav__menu
		//First Level
		li: a(href="#0") Record Navigation Link
		li: a(href="#0") Record Navigation Link

		li
			+globalNavLinkToggler('Files & Other', '#page-nav-section-1')
			
			//Second Level
			ul.collapse#page-nav-section-1
				li: a.active(href="#0") Audit History
					small.global-nav__badge (4)
				li: a(href="#0") Files
					small.global-nav__badge (999)
				li: a(href="#0") Activities
		li: a(href="#0") Record Navigation Link

		//First Level
		li
			+globalNavLinkToggler('Connections', '#page-nav-section-2')
			
			//Second Level
			ul.collapse#page-nav-section-2
				li: a(href="#0") Navigation Link
				li: a.active(href="#0") Navigation Link
					small.global-nav__badge (4)
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link
				li: a(href="#0") Navigation Link Last
