//Page Header Buttons Maximal
+pageHeaderBtn('Save', 'iconSave')
+pageHeaderBtn('Delete', 'iconTrashCan')
+pageHeaderBtn('Print', 'iconPrint', 'disabled')
+pageHeaderBtn('Close', 'iconCloseOutline', 'disabled')
+pageHeaderBtn('View', 'iconView')
+pageHeaderBtn('Upload', 'iconCloudUpload')
+pageHeaderBtn('Reload', 'iconRenew')
+pageHeaderBtn('Edit', 'iconRequestQuote')
