extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Committee Meetings

block tableButtons
	include ../../components/table/_table-header-buttons-5-governance-ul-jr.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Name')
					+thSortable('Committee')
					+thSortable('Meeting Start Time')
					+thSortable('Meeting End Time')
					+thSortable('Quorum Acheived')
			tbody
				tr
					td Miscellaneous
					td Executive
					td June 22, 2022 6:30PM
					td June 22, 2022 8:30PM
					td: span.badge.rounded-pill.text-bg-success Yes
