//Page Nav Header. Page Nav Toggler
.page-nav-header.btn.btn-light.js-toggle-class(data-target='page-nav')
  | CLOSE
  //Toggle Icons for show/hide state
  +iconContractMenuClose('page-nav-header__close-icon')
  +iconContractMenuOpen('page-nav-header__open-icon')
