//Table Header Buttons 5
+tableHeaderBtn('Add', 'iconAdd')
+tableHeaderBtn('Edit', 'iconRequestQuote', 'disabled')
+tableHeaderBtn('Delete', 'iconTrashCan', 'disabled')
+tableHeaderBtn('Add column', 'iconColum')
+tableHeaderBtn('ViewName', 'iconTableSplit')
