//Table Header Buttons 4 Upload
+tableHeaderBtn('Upload', 'iconCloudUpload')
+tableHeaderBtn('Edit', 'iconRequestQuote')
+tableHeaderBtn('Delete', 'iconTrashCan')
+tableHeaderBtn('Refresh', 'iconRenew')
