extends ../../templates/_template-table.pug

block pageHeaderTitle
	| PD Activities

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('PD Plan')
					+thSortable('Activity Type')
					+thSortable('Summary')
					+thSortable('Completion Date')
					+thSortable('Units Completed')
			tbody
				tr
					td: a(href="#0") CE - zubier - Test
					td Activity Type A - 1
					td Lorem Ipsum
					td Oct-20-2022
					td 4.00
