extends ../../templates/_template-page-nav-table.pug

block pageHeaderTitle
	| Cases Activity View

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-4.pug

block pageNav
	include ../../components/_page-nav.pug

block tableButtons
	include ../../components/table/_table-header-buttons-4-refresh.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Case')
					+thSortable('Activity Type')
					+thSortable('Subject')
					+thSortable('Start Date &amp; Time')
					+thSortable('Created on')
					+thSortable('Created by')
			tbody
				+tableRowCasesActivityView
				+tableRowCasesActivityView
				+tableRowCasesActivityView
