extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Cases View

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('File Number')
					+thSortable('Stage')
					+thSortable('Category')
					+thSortable('Received Date')
					+thSortable('Status')
					+thSortable('Closed Date')
			tbody
				+tableRowCasesView
				tr
					td N/A
					td: span.badge.rounded-pill.text-bg-warning Assessment
					td Malpractice
					td Sep-02-2020
					td: span.badge.rounded-pill.text-bg-secondary Submitted
					td N/A
				+tableRowCasesView
				+tableRowCasesView
				tr
					td N/A
					td N/A
					td Malpractice
					td Sep-02-2020
					td: span.badge.rounded-pill.text-bg-secondary Submitted
					td N/A
				+tableRowCasesView
				+tableRowCasesView
				tr
					td N/A
					td: span.badge.rounded-pill.text-bg-warning Assessment
					td Malpractice
					td Sep-02-2020
					td N/A
					td N/A
				+tableRowCasesView
