extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Case Stages View

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	include ../../components/table/_table-case-view.pug
