extends ../../templates/_template-page-nav-table.pug

block pageHeaderTitle
	| Complaints Files

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-4.pug

block pageNav
	include ../../components/_page-nav.pug

block tableButtons
	+tableHeaderBtn('Upload', 'iconCloudUpload')
	+tableHeaderBtn('Delete', 'iconTrashCan')
	+tableHeaderBtn('Add column', 'iconColum')

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Filename')
					+thSortable('Created On')
					+thSortable('Created By')
			tbody
				tr
					td Image.jpg
					td 01/22/2058 23:26
					td: a(href="#0") Phillip Septimus
				tr
					td important_document.pdf
					td 01/22/2058 23:26
					td: a(href="#0") Allison Press
