extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Transmission Log Email Audit Records

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('From E-mail Address')
					+thSortable('Name')
					+thSortable('Destination Address')
					+thSortable('Subject')
					+thSortable('Opened')
					+thSortable('Click-throug')
					+thSortable('Bounced Soft')
					+thSortable('Bounced Hard, E-mail')
					+thSortable('Created on')
			tbody
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
				+tableRowTransmissionLogEmailAuditRecords
