extends ../../templates/_template-table.pug

block pageHeaderTitle
	| System User By Groups

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Name')
			tbody
				tr
					td: a(href="#0") Adam Smith
				tr
					td: a(href="#0") Michelle Ng
