extends ../../templates/_template-page-nav.pug

block pageHeaderTitle
	| Code

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-maximal.pug

block pageNav
	include ../../components/_page-nav.pug

block contentHeader

block pageContent
	.h1 TODO: Code Page
