extends ../../templates/_template-page-nav.pug

block pageHeaderTitle
	| Platform Template Page Nav

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-maximal.pug

block pageNav
	include ../../components/_page-nav.pug

block contentHeader

block pageContent
	.container-fluid.py-3
		.subsection
			.h2 Page Content
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem Last
