extends ../../templates/_template.pug

block pageHeaderTitle
	span.page-header__back-btn
		+iconChevronLeft
	| Platform Template Back Button

block pageHeaderButtons
	include ../../components/page-header/_page-header-buttons-maximal.pug

block pageContent
	.container-fluid.py-3
		.subsection
			.h2 Page Content
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem
			p Lorem Last
