extends ../../templates/_template-table.pug

block pageHeaderTitle
	| Record Table

block tableButtons
	include ../../components/table/_table-header-buttons-5.pug

block pageContent
	.table-responsive
		table.table.table-hover
			thead
				tr
					+thSortable('Column Name')
					+thSortable('Column Name')
					+thSortable('Column Name')
					+thSortable('Column Name')
					+thSortable('Column Name')
					+thSortable('Column Name')
			tbody
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord
				+tableRowRecord

